<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="configPathFile" value="C:\WebConfigTransformForEktron\WebConfigTransformForEktron\bin\x64\Debug\configpaths.txt"/>
    <add key="transformPath" value="C:\WebConfigTransformForEktron\WebConfigTransformForEktron\bin\x64\Debug\transform.config"/>
  </appSettings>
</configuration>